*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   list-style-type: none;
}
body{
   background-color: lightblue;
}

/* container dischi */
.container{
   background-color: red;
   width: 70vw;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex;
   flex-flow: wrap row;
   justify-content: center;
}

/* boxes */
.box{
   border: 2px solid black;
   max-width: 120px;
   min-width: 100px;
   height: 200px;
   background-color: yellow;
   margin: 20px;
}

h1{
   font-size: 20px;
}
