*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   list-style-type: none;
}
body{
   background-color: #1e2d3b;
}

#nav{
   width: 100%;
   height: 50px;
   background-color: #2e3a46;
}
#nav > img{
   width: 45px;
   padding: 5px;
   margin-top: 2.5px;
   margin-left: 300px;
   background-color: green;
   border-radius: 50%;
}
#app{
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
}
/* container dischi */
.container{
   width: 70vw;
   align-self: center;
   display:flex;
   flex-flow: wrap row;
   justify-content: center;

}

/* boxes */
.box{
   max-width: 120px;
   min-width: 100px;
   min-height: 220px;
   background-color: #2e3a46;
   margin: 20px;
   text-align: center;
   overflow-y: auto;
   cursor: pointer;
}

h1{
   padding-top: 2.5px;
   padding-bottom: 10px;
   color: #fff;
   font-size: 15px;
}
p{
   font-size: 12.5px;
   color: gray;
}


.size-img{
   width: 100%;
   padding: 10px;
}
